################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Life/Life/obj/Release
/Life/Life/obj/Debug
/.vs
/Life/.vs/Life/v15
